@page

@model MyRazorApp.Pages.About

@{
    Layout = null;
}

<!DOCTYPE html>



<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<body>
    <table>
    <tr>
        <th>Id</th>
        <th>Price</th>
        <th>Title</th>
    </tr>
    
    @foreach(var category in Model.Categories)
    {

        <tr>
            <td>@category.Id</td>
            <td>@category.Price.ToString("C", new System.Globalization.CultureInfo("pt-BR"))</td>
            <td>@category.Title</td>
        </tr>

    }

</body>
</html>